 
/*FOOTER*/

footer{
    background: rgb(87,156,70);
    background: linear-gradient(to top, rgba(42, 126, 23, 0.841) 0%, rgb(146, 207, 129) 50%, rgb(176, 230, 162) 100%);
    body.dark & {
        background-image: linear-gradient(rgb(88, 104, 85), rgb(69, 92, 67));
    }
    svg{
        width: 2rem;
        height: 2rem;
        fill: $fondoClaro;
        &:hover{
            fill: $fondoOscuroArticulos;
        }
    }
    .itemsFooter{
        color: $oscuro;
        body.dark &{
            color: rgb(201, 201, 201);
        }
    
    }
}

.copy{
    color: $fondoClaro;
    body.dark & {
        color: $claro;
    }
}
  




